<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link rel="stylesheet" href="../public/css/default.css">
    <link rel="stylesheet" href="../public/css/box.css">
    <link rel="stylesheet" href="../public/css/animations.css">
    <link rel="preload" as="image" href="./public/images/darkBackground.webp">
    <link rel="preload" as="image" href="./public/images/lightBackground.webp">
    <script src="https://kit.fontawesome.com/b21388a08f.js" crossorigin="anonymous"></script>
    <title>Error page</title>    
</head>
<body>
    <button onclick="changeTheme(this)" id="theme"><i class="fa-solid fa-sun"></i></button>
    <div class="fii-box">
        <div class="box animGD">
            <img id="fii-logo" src="./public/images/logo-fii.webp" alt="">
            <button onclick="back();" id="close"><i class="fa-solid fa-times"></i></button>
            <h1>404 Page Not Found</h1>
        </div>
    </div>
    <script src="./public/js/theme.js"></script>
    <script src="./public/js/backPage.js"></script>
</body>
</html>