<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link rel="stylesheet" href="../public/css/default.css">
    <link rel="stylesheet" href="../public/css/forms.css">
    <link rel="stylesheet" href="../public/css/mainPage.css">
    <link rel="stylesheet" href="../public/css/explore.css">
    <link rel="stylesheet" href="../public/css/animations.css">
    <link rel="preload" as="image" href="./public/images/darkBackground.webp">
    <link rel="preload" as="image" href="./public/images/lightBackground.webp">
    <script src="https://kit.fontawesome.com/b21388a08f.js" crossorigin="anonymous"></script>
    <title>Explore Page</title>
</head>
<body>
    <div class="blur-background"></div>
    <nav>
        <div class="logo">
            <img src="../public/images/logo1.png" alt="">
        </div>
        <div class="search">
            <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label>
            <input type="text" id="search" placeholder="find photos on unsplash by name">
            <div class="criteria">
                <button id="criteria-button"><i class="fa-solid fa-sliders"></i></button>
                <div class="slider-container hidden">
                    <div class="slider-search">
                        <p>Choose post date</p>
                        <div class="date-interval">
                            <input id="min-date" type="date">
                            <input id="max-date" type="date">
                        </div>
                    </div>
                    <div class="slider-search">
                        Number of likes
                        <div class="likes-interval">
                            <input id="min-likes" type="number" min="0">
                            <input id="max-likes" type="number" min="0">
                        </div>
                    </div>
                    <div class="slider-search">
                        Platform
                            <select name="platform" id="platform-select">
                                <option value="" selected>All</option>
                                <option value="mpic">M-PIC</option>
                                <option value="unsplash">Unsplash</option>
                                <!-- <option value="twitter">Twitter</option> -->
                            </select>
                    </div>
                    <button id="apply" type="button">Apply</button>
                </div>
            </div>
        </div>
        <div>
            <a href="./myAccount"><i class="fa fa-user" aria-hidden="true"></i></a>
            <button onclick="changeTheme(this)" id="theme"><i class="fa-solid fa-sun"></i></button>
        </div>
    </nav>
    <div class="gallery active">
    </div>
    <div id="modal" class="modal">
        <button id="close-btn-modal"><i class="fa-solid fa-times"></i></button>
        <button onclick="getEdit()">
            <i class="fa fa-edit"></i>   
            Edit         
        </button>
        <div class="image animG">
            <img data-unsplash-id="" id="photo-source" src="#" alt="">
            <div class="image-info"></div>
        </div>
    </div>
    <script defer src="./public/js/showActive.js"></script>
    <script src="./public/js/theme.js"></script>
    <script src="./public/js/changeLogo.js"></script>
    <script defer src="./public/js/modal.js"></script>
    <script defer src="./public/js/galleryUtil.js"></script>
    <script defer src="./public/js/exploreSearch.js"></script>
    <script src="./public/js/anim.js"></script>
    <script defer src="./public/js/getEdit.js"></script>
    <script defer src="./public/js/criteria.js"></script>
</body>
</html>