<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link rel="stylesheet" href="../public/css/default.css">
    <link rel="stylesheet" href="../public/css/forms.css">
    <link rel="stylesheet" href="../public/css/forgotPassword.css">
    <link rel="stylesheet" href="../public/css/animations.css">
    <link rel="preload" as="image" href="./public/images/darkBackground.webp">
    <link rel="preload" as="image" href="./public/images/lightBackground.webp">
    <script src="https://kit.fontawesome.com/b21388a08f.js" crossorigin="anonymous"></script>
    <title>Forgot Password Page</title>
</head>
<body>
    <button onclick="changeTheme(this)" id="theme"><i class="fa-solid fa-sun"></i></button>
    <div class="container">
        <div class="forgot animGD">
            <button onclick="back();" id="close"><i class="fa-solid fa-times"></i></button>
            <i class="fa fa-lock"></i>
            <p>Trouble logging in?</p>
            <form action="GET" class="form">
                <div class="form-data">
                    <div class="form-field">
                        <label for="fname">Enter your email and we'll send you a link to get back into your account.</label>
                        <input type="text" id="fname" value="">
                    </div>
                </div>
                <div class="form-submit">
                    <button type="submit">Send login link</button>
                </div>
            </form>
        </div>
    </div>
    <script src="./public/js/theme.js"></script>
    <script defer src="./public/js/backPage.js"></script>
</body>
</html>