<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link rel="stylesheet" href="../public/css/default.css">
    <link rel="stylesheet" href="../public/css/forms.css">
    <link rel="stylesheet" href="../public/css/mainPage.css">
    <link rel="stylesheet" href="../public/css/myAccount.css">
    <link rel="stylesheet" href="../public/css/animations.css">
    <script src="https://kit.fontawesome.com/b21388a08f.js" crossorigin="anonymous"></script>
    <title>My account</title>
</head>
<body>
    <div class="blur-background"></div>
    <nav>
        <div class="logo">
            <img src="../public/images/logo1.png" alt="">
        </div>
        <div class="search">
            <input type="text" id="search" placeholder="search by keyword">
            <label for="search"><i class="fa-solid fa-magnifying-glass"></i></label> 
            <div class="criteria">
                <button id="criteria-button"><i class="fa-solid fa-sliders"></i></button>
                <div class="slider-container hidden">
                    <div class="slider-search">
                        <p>Choose post date</p>
                        <div class="date-interval">
                            <input id="min-date" type="date">
                            <input id="max-date" type="date">
                        </div>
                    </div>
                    <div class="slider-search">
                        Number of likes
                        <div class="likes-interval">
                            <input id="min-likes" type="number" min="0">
                            <input id="max-likes" type="number" min="0">
                        </div>
                    </div>
                    <button id="apply" type="button" onclick=>Apply</button>
                </div>
            </div>
        </div>
        <div>
            <button><i class="fa fa-compass" onclick="toPage('./explore');"></i></button>
            <a href="./myAccount"><i class="fa-solid fa-user" aria-hidden="true"></i></a>
            <button onclick="changeTheme(this)" id="theme"><i class="fa-solid fa-sun"></i></button>
            <button id="menuBar" onclick="showBar();"><i class="fa-solid fa-bars"></i></button>
        </div>
    </nav>
    <div class="bar hide-bar">
            <img id="profile-photo" src="../public/images/unknown.png" alt="">
            <div class="main-options">
                <button onclick="showGallery();" id="myphotos">My photos</button>
                <button onclick="showConnections();">Connections</button>
                <button onclick="showSettings();">Settings</button>
            </div>
            <div class="other-options">
                <button class="other-option" onclick="toPage('./logout');">
                    <i class="fa-solid fa-sign-out" aria-hidden="true"></i>
                    Logout
                </button>
            </div>
    </div>
    <div class="gallery active">
        
    </div>
    <div class="connections hidden">
        <div id="instagram" class="animG">
            <div class="connection">
               <i class="fa fa-instagram"></i>
               <button class="connect-button">Connect</button>
               <button class="connect-button hidden" onclick="disconnect()">Disconnect</button>
            </div>
        </div>
        <div id="reddit" class="animG">
            <div class="connection">
               <i class="fab fa-unsplash"></i>
               <button id="unsplash-connect" class="connect-button {{unsplash.connected}}" onclick = "connect()">Connect</button>
               <button id="unsplash-disconnect" class="connect-button connected {{unsplash.disconnected}}" onclick="disconnect('unsplash')">Disconnect</button>
            </div>
        </div>
        <div id="twitter" class="animG">
            <div class="connection">
               <i class="fa fa-twitter"></i>
               <button class="connect-button">Connect</button>
               <button class="connect-button connected hidden" onclick="disconnect('unsplash')">Disconnect</button>
            </div>
        </div>
    </div>
    <div class="settings hidden animG">
        <form class="form" action="POST">
            <div class="form-data">
                <div class="form-field">
                    <label for="fname">First name</label>
                    <div class="edit-field">
                        <input type="text" id="fname" value="">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
                <div class="form-field">
                    <label for="lname">Last name</label>
                    <div class="edit-field">
                        <input type="text" id="lname">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
                <div class="form-field">
                    <label for="username">Username</label>
                    <div class="edit-field">
                        <input type="text" id="username">
                        <i class="fa fa-pencil-square-o"></i>
                    </div>
                </div>
            </div>
            <div class="form-submit">
                <button type="button">Change password</button>
                <button type="button">Save</button>
                <button id="delete">
                    <i class="fa-solid fa-trash" aria-hidden="true"></i>
                    Delete account
                </button>
            </div>
        </form>
    </div>
    <div id="modal" class="modal">
        <button id="close-btn-modal"><i class="fa-solid fa-times"></i></button>
        <button onclick="getEdit()">
            <i class="fa fa-edit"></i>   
            Edit         
        </button>
        <div class="image animG">
            <img data-unsplash-id="" id="photo-source" src="#" alt="">
            <div class="image-info"><div>
        </div>
    </div>
    <script src="./public/js/theme.js"></script>
    <script src="./public/js/changeLogo.js"></script>
    <script defer src="./public/js/modal.js"></script>
    <script src="./public/js/anim.js"></script>
    <script defer src="./public/js/toPage.js"></script>
    <script defer src="./public/js/showActive.js"></script>
    <script defer src="./public/js/galleryUtil.js"></script>
    <script defer src="./public/js/myPhotos.js"></script>
    <script defer src="./public/js/getEdit.js"></script>
    <script defer src="./public/js/unsplash.js"></script>
    <script defer src="./public/js/criteria.js"></script>
</body>
</html>