<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=0.86, maximum-scale=5.0, minimum-scale=0.86">
    <link rel="stylesheet" href="../public/css/default.css">
    <link rel="stylesheet" href="../public/css/forms.css">
    <link rel="stylesheet" href="../public/css/index.css">
    <link rel="stylesheet" href="../public/css/signUp.css">
    <link rel="stylesheet" href="../public/css/animations.css">
    <link rel="preload" as="image" href="./public/images/darkBackground.webp">
    <link rel="preload" as="image" href="./public/images/lightBackground.webp">
    <script src="https://kit.fontawesome.com/b21388a08f.js" crossorigin="anonymous"></script>
    <title>Sign up</title>
</head>
<body>
    <button onclick="changeTheme(this)" id="theme"><i class="fa-solid fa-sun"></i></button>
    <div class="container">
        <div class="col25 animGD">
            <form action="#" class="form">
                <a id="info" href="./info"><i class="fa fa-info-circle"></i></a>
                <a id="contact" href="./contact"><i class="fa fa-address-book"></i></a>
                <div class="form-data">
                    <div class="form-field">
                        <label for="fname">First name</label>
                        <div class="tooltip-container">
                            <input type="text" id="fname" name="firstName" value="">
                            <div class="tooltip hidden" id="fname-error">
                                <p>Cannot be null!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="lname">Last name</label>
                        <div class="tooltip-container">
                            <input type="text" id="lname" name="lastName">
                            <div class="tooltip hidden" id="lname-error">
                                <p>Cannot be null!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="email">Email</label>
                        <div class="tooltip-container">
                            <input type="email" id="email" name="email">
                            <div class="tooltip hidden" id="email-error">
                                <p>Email is not valid!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="username">Username</label>
                        <div class="tooltip-container">
                        <input type="text" id="username" name="username">
                            <div class="tooltip hidden" id="username-error">
                                <p>Username must contain only alphanumeric characters and the length must be between 3 and 25!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="password">Password</label>
                        <div class="tooltip-container">
                            <input type="password" id="password" name="password">
                            <div class="tooltip hidden" id="password-error">
                                <p>Password must have at least 8 characters that include at least 1 lowercase and uppercase character, 1 number, and 1 special character in this set (!@#$%^&*)!</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-field">
                        <label for="password">Confirm password</label>
                        <div class="tooltip-container">
                            <input type="password" id="confirm-password" name="password">
                            <div class="tooltip hidden" id="confirm-password-error">
                                <p>Passwords don't match!</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-submit">
                    <div class="tooltip-container">
                        <button onclick="registerUser();" type="button" id="sign-up">Sign up</button>
                        <div class="tooltip hidden" id="signup-error">
                            <p id="signup-constraint"></p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="col75 animGDNB">
            <h1>Did you know?</h1>
            <p>In our app you can edit your photos and post them back on Twitter.</p>
        </div>
    </div>
    <script src="./public/js/theme.js"></script>
    <script src="./public/js/register.js"></script>
</body>
</html>
