@import "fontImporter.css";

.box{
    position: relative;
    backdrop-filter: blur(10px);
    width: 50rem;
    background-color: var(--form-color);
    padding: 2rem;
    padding-top: 1.6rem;
    border-radius: 10px;
    text-align: justify;
}

.fii-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 2rem 0;
}

#fii-logo {
    position: absolute;
    left: 0;
    top: 0;
    max-height: 100%;
    max-width: 100%;
    z-index: -1;
    opacity: 0.15;
}

.box h1 {
    font-size: 4rem;
}

.box p {
    font-family: 'Lora', serif;
    font-size: 1.4rem;
    text-indent: 2rem;
    line-height: 2rem;
}

#close {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    border: none;
    background: transparent;
}

#close i {
    font-size: 2rem;
    color: var(--button-color);
}

#theme {
    background-color: var(--main-color);
    font-size: 1.2rem;
    padding: 0.25rem;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-width: 2rem;
}

#theme i {
    color: var(--button-color)
}

@media (max-width: 70rem){
    .fii-box{
        padding-top: 3.5rem;
    }
}