@import "fontImporter.css";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--main-color);
}

:root {
    --button-color: #301545;
    --main-color: #fffffe;
    --form-color: rgba(255,192,173, 0.3);
    --menu-color: rgba(232,143,137, 0.7);
    --background-url: url(../images/darkBackground.webp);
    --input-background: rgba(48,21,69, 0.5);
    font-family: 'Lato', serif;
}

body {
    position: relative;
    min-height: 100vh;
}

button:hover {
    cursor: pointer;
}

body::before {
    position: absolute;
    content: '';
    z-index: -1;
    width: 100%;
    height: 100%;
    background-image: var(--background-url);
    background-size: cover;
    background-position: bottom;
}

.blur-background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(15px);
}

.hidden {
    display: none !important;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--button-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--button-color);
}