body {
    grid-template-areas: 
    "nav nav nav nav nav"
    "gal gal gal gal gal";
}

.options{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: var(--menu-color);
    border-radius: 10px;
}

.options div{
    position: relative;
    top: -1rem;
    font-size: 2.5rem;
}

.options i {
    grid-area: Logo;
    color: var(--button-color);
    font-size: 3.5rem;
}

@media (max-width: 70rem) {
    .grid {
        grid-template-areas: 
        "instagram reddit"
        "twitter   edit"
        "upload    ........";
        grid-template-columns: repeat(2, 1fr);
    }

    .options div {
        font-size: 1.5rem;
    }
}