@import "fontImporter.css";
.container {
    display: flex;
    height: 100%;
    padding: 10rem 10rem;
}

.col75 {
    width: 75%;
    height: 100%;
    padding: 0 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.col75 h1 {
    font-size: 6rem;
    letter-spacing: 0.4rem;
}

.col75 p {
    font-size: 2rem;
    line-height: 3rem;
    font-family: 'Lora', serif;
    letter-spacing: 0.3rem;
    opacity: 0.7;
}

.col25 {
    width: 25%;
    min-width: 20rem;
    height: 100%;
}

.col25 a {
    text-align: center;
    text-decoration: none;
    font-size: 1.15rem;
}

.form {
    padding: 3rem 2rem 2rem;
    position: relative;
    gap: 4rem;
}

.form-data {
    height: 60%;
    gap: 2rem;
}

.form-field {
    gap: 0.5rem;
    font-family: 'Lora', serif;
}

.form-submit {
    gap: 1rem;
    font-family: 'Lora', serif;
}

.form-field label {
    font-size: 1.3rem;
    font-family: 'Lora', serif;
}

.form-field input {
    height: 2rem;
    padding: 0 1rem;
    font-family: 'Lora', serif;
}

form button {
    height: 2rem;
    border: none;
    box-shadow: 0 0 0 1px var(--button-color);
    background-color: var(--button-color);
    border-radius: 5px;
    font-size: 1.3rem;
    font-family: 'Lora', serif;
}

#info {
    position: absolute;
    top: 1rem;
    right: 3.5rem;
    font-size: 1.5rem;
}

#contact {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 1.5rem;
}

#doc {
    position: absolute;
    top: 1rem;
    right: 5.5rem;
    font-size: 1.5rem;
}

#forgot {
    position: absolute;
    bottom: -1.7rem;
    right: 0;
    color: var(--main-color);
}

#theme {
    background-color: var(--main-color);
    font-size: 1.2rem;
    padding: 0.25rem;
    border: none;
    border-radius: 5px;
    position: absolute;
    top: 1rem;
    right: 1rem;
    min-width: 2rem;
}

#theme i {
    color: var(--button-color)
}

@media (max-width: 70rem) {
    .container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4rem;
        width: 100%;
        height: 100vh;
        padding: 2rem;
    }

    .col25, .col75 {
        height: auto;
    }
    
    .col75 h1{
        font-size: 3rem;
        text-align: center;
    }

    .col75 p{
        display: none;
        text-align: center;
    }

    .col75 {
        width: 100%;
        padding: 0;
    }
}

