@import "fontImporter.css";

.container {
    padding: 4.5rem 10rem 3rem;
}

.form-data {
    gap: 1rem;
}

.form {
    gap: 2rem;
}

.col75 {
    position: relative;
    top: 3rem;
}

.col75 p, .col75 h1 {
    text-align: right;
}

#theme {
    cursor: pointer;
}

.form-submit .tooltip {
    max-width: 100%;
}

@media(max-width: 70rem) {
    .col75 {
        display:none;
    }

    .container {
        position: unset;
    }
}